table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: rgb(132, 49, 132);
    color: #fff;
}

button {
    background-color: rgb(132, 49, 132);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #7c287c;
}

.add-showing-button {
    padding: 10px;
}

.btn-search {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.search-bar-showings {
    padding: 9px;
    border-radius: 5px;
}
