.hall-container {
    display: flex;
    justify-content: center;
}

.hall-grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(20px, 1fr));
    gap: 15px;
    max-width: 50%;
    max-height: 50vh;
}

.seat {
    background-color: purple;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
}

.seat:hover {
    background-color: purple;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
}

.seat.reserved {
    background-color: red;
}

.seat p {
    color: white;
}

.seat.selected {
    background-color: green;
}
