.hall-container {
    display: flex;
    justify-content: center;
}

.movie-info {
    position: absolute;
    top: 100px;
    right: 15px;
    background-color: rgb(9, 9, 66);
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.seat.reserved {
    background-color: red;
}

.seat.selected {
    background-color: green;
}

.header-hallshowing {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-hallshowing h1 {
    margin: 20px;
}

.paymentButton {
    background-color: #316433;
    border: none;
    padding: 10px 10px 10px 10px;
    margin-top: 7px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.5s; /* Add transition for smooth effect */
}

.paymentButton:hover {
    background-color: #52b955;
    transform: scale(1.1); /* Increase scale on hover */
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.seat {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    background-color: gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.seat:hover {
    background-color: rgb(255, 0, 247);
}

.hall {
    border-bottom: 4px solid gray;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 100px 0px 100px;
}

.screen-text {
    margin-top: 100px;
}

.header-title {
    display: flex;
    flex-direction: column;
}

.header-title h1 {
    color: rgb(168, 68, 168);
}

.header-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-footer {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: rgb(168, 68, 168);
    background-color: rgb(46, 39, 39);
    border: purple solid 1px;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 1px rgb(168, 68, 168);
}

.header-footer p {
    margin: 0px;
}

@media screen and (max-width: 1066px) {
    .movie-info {
        display: none;
    }
}

/* Media query for small screens (up to 600px) */
@media screen and (max-width: 600px) {
    .row {
        margin: 5px; /* Adjust margin for smaller screens */
    }

    .seat {
        width: 30px; /* Adjust seat width for smaller screens */
        height: 30px; /* Adjust seat height for smaller screens */
        font-size: 10px; /* Adjust font size for seat number for smaller screens */
    }
    /* Add more styles for other elements inside the .hall container as needed */
}

/* Media query for medium screens (601px to 1024px) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .row {
        margin: 10px; /* Adjust margin for medium screens */
    }

    .seat {
        width: 35px; /* Adjust seat width for medium screens */
        height: 35px; /* Adjust seat height for medium screens */
        font-size: 12px; /* Adjust font size for seat number for medium screens */
    }

    /* Add more styles for other elements inside the .hall container as needed */
}

/* Media query for large screens (1025px and above) */
@media screen and (min-width: 1025px) {
    .row {
        margin: 15px; /* Adjust margin for large screens */
    }

    .seat {
        width: 40px; /* Adjust seat width for large screens */
        height: 40px; /* Adjust seat height for large screens */
        font-size: 15px; /* Adjust font size for seat number for large screens */
    }

    /* Add more styles for other elements inside the .hall container as needed */
}
