/* Styling for Movie component */
.movie {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#movies-page-title {
    text-align: left;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -2px;
    font-size: 40px;
}

.movie .time_container {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid-item-movie img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    margin-top: 20px;
}

.grid-item-movie h4 {
    color: white;

}

.grid-item-movie:hover {
    cursor: pointer;
    scale: 1.05;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}


.movie-list{
    display: grid;
    gap: 2em;
    padding: 2em;
}


@media (min-width: 600px) {
    .movie-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .movie-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
   .movie-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.grid-item-movie{
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: scale-down;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: 1px solid purple;
    background: rgb(31, 31, 31);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(255, 0, 132, 0.1);

}
.movie .text-container {
    display: flex;
    flex-direction: column;
}

.movie h2 {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    object-fit: contain;
}

.movie p {
    margin-top: 5px;
    font-size: 14px;
    color: #888;
}

