.completeButton {
    background-color: #4caf50;
    border: none;
    padding: 10px;
    margin-top: 7px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.5s; /* Add transition for smooth effect */
}

.completeButton:hover {
    background-color: #45a049;
    transform: scale(1.1); /* Increase scale on hover */
}

.reservation-header {
    color: rgb(168, 68, 168);
}

.reservation-body {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    color: rgb(168, 68, 168);
    background-color: rgb(46, 39, 39);
    border: purple solid 1px;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 1px rgb(168, 68, 168);
    min-width: 300px;
}

.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
