.date-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.date {
    background-color: transparent;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.date:hover {
    background-color: purple;
    color: white;
}

.showings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.showing-card {
    background-color: purple;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.5s;
}

.showing-card:hover {
    transform: scale(1.05);
}
