.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 120px;
  width: 100%;
}

#login-title {
  text-align: left;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.login-form {
  width: 300px;
  padding: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    207deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(7, 7, 57, 1) 35%,
    rgba(42, 9, 36, 1) 100%
  );
  border: 1px solid rgba(255, 146, 240, 0.46);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 0, 221, 0.244);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-doubleholder {
  display: flex;
  justify-content: space-between;
}

.login-form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.login-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form a {
  padding-top: 20px;
  text-decoration: none;
  color: #95edff;
  text-align: center;
  display: block;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: rgb(192, 90, 255);
  box-shadow: 0px 0px 20px rgba(255, 0, 234, 0.467);
}
