.nav-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto 0 auto;
}

.nav-header ul {
  gap: 0px;
  margin: 0 auto;
  width: 100vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    207deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(7, 7, 57, 1) 35%,
    rgba(42, 9, 36, 1) 100%
  );
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-header ul li {
  list-style: none;
  padding: 10px;
  width: 8em;
}

.nav-header li:hover {
  cursor: pointer;
  color: rgb(255, 0, 225);
}

.nav-header li:hover a {
  color: rgb(255, 0, 225);
}

.nav-header li:hover a p {
  color: rgb(255, 0, 225);
}

.nav-header a {
  margin: none;
  color: white;
  text-decoration: none;
}

.nav-header a p {
  margin: 0 0;
  color: white;
  text-decoration: none;
}

#nav-film {
  margin-left: 40px;
  border-left: 1px solid gray;
}

#nav-header-logo {
  margin-left: 30px;
  height: fit-content;
  scale: 2;
  width: fit-content;
  translate: 0px 0px;
}

#nav-signin {
  margin-left: auto;
  scale: 1.7;
  width: auto;
  translate: -20px 0px;
}

.active-header a {
  color: rgb(255, 0, 225);
}

.active-header a p {
  color: rgb(255, 0, 238);
}
